.Root {
	width: 100%;
	height: 100%;
}

.Window
{
	horizontal-align: center;
	vertical-align: center;
	border: 1px solid gray;
	border-radius: 10px;
	background-image: url("s2r://panorama/images/backgrounds/gallery_background_png.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 100%;
	transition-property: box-shadow, brightness;
	transition-duration: 0.15s;
	transition-timing-function: ease-in-out;
}

.WindowHeader
{
	horizontal-align: center; 
}

.WindowIcon
{
	width: 64px;
	height: 64px;
	margin-left: 10px;
	margin-top: 10px;
	border-radius: 25px;
	background-image: url("s2r://panorama/images/backgrounds/gallery_background_png.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 100%;
}

.WindowCloseIcon {
	width: 32px;
	height: 32px;
	border-radius: 100%;
	background-image: url("s2r://panorama/images/backgrounds/gallery_background_png.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 100%;
	horizontal-align: right;
	vertical-align: top;
	margin-top: 10px;
	margin-right: 10px;
}
.WindowCloseIcon:hover {
	opacity: 0.5;
}

.WindowTextBig
{
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: white;
	font-weight: bold;
	font-family: platformfont;
}

.WindowText
{
	font-size: 16px;
	letter-spacing: 1px;
	color: white;
	font-family: platformfont;
}

.WindowName
{
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: white;
	font-weight: bold;
	margin-left: 80px;
	margin-top: 34px;
}

.WindowContent
{
	height: 100%;
	padding: 0px;
	margin: 0px;
	margin-top: 80px;
	width: 100%;
}

.WindowSlider
{
	width: fill-parent-flow( 1.0 );
	margin-bottom: 0px;
}

.WindowSlider .SliderThumb
{
	tooltip-position: top;
	tooltip-body-position: 50% 50%;
}

Slider.HorizontalSlider, SlottedSlider.HorizontalSlider
{
	width: 420px;
	height: 30px;
}

Slider.HorizontalSlider .SliderTrack, SlottedSlider.HorizontalSlider .SliderTrack
{
	height: 16px;
	width: 100%;

	padding: 10px;
}

Slider.HorizontalSlider .SliderTrackProgress, SlottedSlider.HorizontalSlider .SliderTrackProgress
{
	width: 100%;
	height: 10px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #222222FF ), to( #444f52FF ) );
	box-shadow: inset black 0px 1px 4px 0px;
	margin-left: 1px;
}

Slider.HorizontalSlider .SliderTrackProgress:disabled, SlottedSlider.HorizontalSlider .SliderTrackProgress:disabled
{
	width: 100%;
	height: 10px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #010101FF ), to( #333333FF ) );
	box-shadow: inset black 0px 1px 4px 0px;  // flickering when sliding...bug?
	margin-left: 1px;
}


Slider.HorizontalSlider .SliderThumb, SlottedSlider.HorizontalSlider .SliderThumb
{
	background-color: gradient( radial, 50% 50%, -5% -5%, 60% 60%, from( #91a5b9 ), to( #444f52 ) );
	border-radius: 13%;
	width: 16px;
	height: 30px;
}

Slider.HorizontalSlider .SliderThumb:hover, SlottedSlider.HorizontalSlider .SliderThumb:hover
{
	background-color: gradient( radial, 50% 50%, -5% -5%, 60% 60%, from( #b8c5d3 ), to( #444f52 ) );
}

Slider.HorizontalSlider .SliderThumb:disabled, SlottedSlider.HorizontalSlider .SliderThumb:disabled
{
	background-color: #333333;
}

SlottedSlider.HorizontalSlider .SliderNotch
{
	margin-top: 14px;
	border-bottom: 2px solid #5e686966;
	border-left:2px solid #5e686966;
	border-right:2px solid #5e686966;
	background-color: black;
	//border-radius: 13%;
	width: 12px;
	height: 12px;
	vertical-align: bottom;
	z-index: 3;
}

//
// Slider
//

Slider
{
	// needs to be at least as wide as the thumb and, as the thumb center stops at end
	// of track, needs to allow for 1/2 the height of the thumb on each end
	width: 30px;
	height: 130px;
	margin-bottom: 20px;
}

.SliderTrack
{
	height: 120px;
	width: 16px;
	background-color: #283842;
	align: center center;
	background-color: black;
	border: 2px solid #5e686966;
	z-index: 2;

}

SlottedSlider.HorizontalSlider .SliderNotch
{
	margin-top: 14px;
	border-bottom: 2px solid #5e686966;
	border-left:2px solid #5e686966;
	border-right:2px solid #5e686966;
	background-color: black;
	//border-radius: 13%;
	width: 12px;
	height: 12px;
	vertical-align: bottom;
	z-index: 3;
}

.SliderTrackProgress
{
	width: 10px;
	height: 99%;
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #222222FF ), to( #444f52FF ) );
	align: center center;
	border-radius: 3px;
	z-index: 3;
}

.SliderThumb
{
	background-color: gradient( radial, 50% 50%, -5% -5%, 60% 60%, from( #91a5b9 ), to( #444f52 ) );
	border-radius: 13%;
	width: 30px;
	height: 16px;
	box-shadow: fill black 1px 1px 32px 0px;
	z-index: 4;
}

.WindowButton {
	width: fit-children;
	height: fit-children;
	background-image: url("s2r://panorama/images/backgrounds/gallery_background_png.vtex");
	border-radius: 5px;
	border: 1px solid grey;
	vertical-align: center;
	margin-right: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.WindowButton Label {
	color: white;
	horizontal-align: center;
	vertical-align: center;
	font-size: 16px;
}

.WindowButton:hover {
	opacity: 0.5;
}