.DummyWindow
{
    width: 600px;
    height: 600px;
    horizontal-align: left;
    margin-left: 20px;
}

.DamageLog
{
    width: fill-parent-flow (1.0);
    height: 500px;
    max-height: 500px;
    background-color: black;
    border-radius: 5px;
    flow-children: down;
}

#DamageLog
{
    overflow: squish scroll;
    height: 485px;
    max-height: 485px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}

.DamageEntry
{
	color: white;
	width: fill-parent-flow(1.0);
	height: fit-children;
	horizontal-align: left;
	vertical-align: top;
	font-size: 14px;
	text-overflow: shrink;
	text-align: left;
	white-space: normal;
}

.DamageLogCapacity
{
    color: white;
    background-color: black;
	width: fill-parent-flow(1.0);
	height: fit-children;
	horizontal-align: right;
	vertical-align: center;
	font-size: 12px;
	text-overflow: shrink;
	text-align: right;
	white-space: normal;
	padding-right: 5px;
}

.WindowContent
{
	margin-top: 0px;
	flow-children: down;
}

.TopContent
{
    margin-top: 50px;
    width: 100%;
    flow-children: right;
}

.TopContent .LeftSide
{
    width: 370px;
    margin-left: 30px;
    flow-children: down;
}

.TopContent .RightSide
{
    width: fill-parent-flow(1.0);
    flow-children: down;
}

.RightSideLabel
{
	color: white;
	horizontal-align: center;
	vertical-align: center;
	font-size: 16px;
	margin-bottom: 5px;
	text-overflow: shrink;
	font-family: platformfont;
}

.BottomContent
{
    width: 100%;
    vertical-align: center;
    margin-bottom: 8px;
}

.WindowTextBox Image
{
    margin-left: 5px;
    margin-right: 5px;
    width: 32px;
    height: 32px;
}

.WindowTextBox TextEntry
{
    width: 120px;
    height: 28px;
    margin-right: 0px;
}

.WindowTextBox Label
{
	width: fill-parent-flow(1.0);
	height: fit-children;
    text-align: center;
	color: white;
	horizontal-align: center;
	vertical-align: center;
	font-size: 16px;
	padding-right: 10px;
    font-family: platformfont;
}

.RightSideElement
{
	horizontal-align: center;
	vertical-align: center;
	margin-bottom: 8px;
}