.HeroSelection {
	background-image: url("s2r://panorama/images/backgrounds/gallery_background_png.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
}

.HeroSelectionTopBar {
    width: fill-parent-flow(1.0);
    height: fit-children;
    horizontal-align: center;
    vertical-align: top;
    flow-children: down;
}

.PlayerHeroes {
    width: fit-children;
    horizontal-align: center;
    vertical-align: center;
    flow-children: right;
    margin-top: 5px;
}

.HeroContainer {
    width: 102px;
    height: 80px;
    flow-children: down;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 0px 0px 10px #000000aa;
}

.HeroIcon {
    width: fill-parent-flow(1.0);
    height: fill-parent-flow(1.0);
	background-image: url("s2r://panorama/images/backgrounds/gallery_background_png.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 100%;
}

.HeroIcon.notpicked {
    brightness: 1;
    saturation: 0;
    wash-color: grey;
}

.HeroColor {
    width: fill-parent-flow(1.0);
    height: 5px;
}

.HeroPlayerName {
    width: fill-parent-flow(1.0);
    font-size: 14px;
    text-align: center;
    color: lightgray;
	background-image: url("s2r://panorama/images/backgrounds/gallery_background_png.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 100%;
    text-overflow: ellipsis;
    padding-left: 2px;
    padding-right: 2px;
}

#HeroStats {
	background-image: url("s2r://panorama/images/backgrounds/gallery_background_png.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 100%;
	width: 400px;
	height: 350px;
	vertical-align: center;
	horizontal-align: right;
	margin-right: 100px;
	flow-children: down;
	visibility: collapse;
	margin-top: -150px;
    box-shadow: 0px 0px 10px #000000aa;
    border: 1px solid #ffffff09;
}

.HeroNameContainer {
    height: fit-children;
    flow-children: right;
    horizontal-align: center;
    vertical-align: center;
    margin-bottom: 10px;
    margin-top: 5px;
}

#SelectedHeroIcon {
    width: 32px;
    height: 32px;
    horizontal-align: center;
    vertical-align: center;
    margin-right: 3px;
}

#SelectedHeroName {
    color: white;
    font-size: 16px;
    text-align: center;
    horizontal-align: center;
    vertical-align: center;
	text-shadow: 0px 0px 10px 4 #00000088;
}

#HeroAbilitiesContainer {
    height: fit-children;
    flow-children: right;
    margin-bottom: 10px;
    horizontal-align: center;
    vertical-align: center;
    padding-right: 10px;
    padding-left: 10px;
}

.HeroAbility {
    width: 52px;
    height: 52px;
	border: 1px solid #ffffff09;
	box-shadow: 0px 0px 6px #000000aa;
    margin-right: 10px;
}

.HeroAbility.last {
    margin-right: 0px;
}

.HeroRolesLabel {
    font-size: 20px;
    text-align: center;
	vertical-align: top;
	horizontal-align: center;
	color: white;
	text-transform: uppercase;
	margin-top: 20px;
	text-overflow: shrink;
	width: fill-parent-flow(1.0);
	height: 20px;
	margin-bottom: 10px;
}

.HeroStatImage {
    width: 20px;
    height: 20px;
	horizontal-align: center;
	margin-right: 5px;
}

.HeroStatLabel {
    font-size: 14px;
    text-align: center;
	color: white;
	text-transform: uppercase;
	text-overflow: shrink;
	margin-top: 3px;
	margin-bottom: 5px;
	horizontal-align: center;
	text-shadow: 0px 0px 10px 4 #00000088;
}

.HeroStat {
    height: fit-children;
    flow-children: right;
    horizontal-align: center;
}

.HeroStatChild {
    width: 20px;
    height: 20px;
	background-image: url("s2r://panorama/images/hero_complexity_empty_png.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 90%;
	margin-right: 10px;
}

.HeroStatChild.selected {
	background-image: url("s2r://panorama/images/hero_complexity_full_png.vtex");
}

.HeroStatChild.hover {
	background-image: url("s2r://panorama/images/hero_complexity_full_png.vtex");
	wash-color: gray;
}

.HeroStatChild.filter {
	background-image: url("s2r://panorama/images/hero_complexity_full_png.vtex");
	wash-color: gray;
}

.TimerContainer {
    horizontal-align: center;
    vertical-align: center;
    margin-top: 5px;
	background-image: url("s2r://panorama/images/backgrounds/gallery_background_png.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 100%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0px 0px 10px #000000aa;
    border: 1px solid #ffffff09;
    width: 100px;
    height: fit-children;
    flow-children: down;
}

.TimerTitleLabel {
    color: white;
    font-size: 14px;
    text-align: center;
    horizontal-align: center;
    text-overflow: shrink;
	text-shadow: 0px 0px 10px 4 #00000088;
}

#TimerLabel {
    color: white;
    font-size: 20px;
    text-align: center;
    horizontal-align: center;
	text-shadow: 0px 0px 2px 4 #00000088;
}

#AvailableHeroesContainer {
    vertical-align: top;
    horizontal-align: left;
    flow-children: down;
    width: 700px;
    visibility: collapse;
    margin-top: 200px;
}

.AvailableHeroesGroupContainer {
	width: fill-parent-flow(1.0);
    height: fit-children;
    flow-children: right;
    margin-left: 10px;
}

.AvailableHeroesGroupContainer Image {
    width: 32px;
    height: 32px;
}

.AvailableHeroesGroupContainer Label {
    color: white;
    font-size: 16px;
    text-align: center;
    vertical-align: center;
    margin-left: 3px;
    text-transform: uppercase;
    text-shadow: 0px 0px 2px 4 #00000088;
}

#AvailableHeroesStrength, #AvailableHeroesAgility, #AvailableHeroesIntellect {
	width: fill-parent-flow(1.0);
    height: fit-children;
    flow-children: right-wrap;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
}

.AvailableHeroesButton {
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
	border: 1px solid #ffffff09;
	box-shadow: 0px 0px 6px #000000aa;
}

.AvailableHeroesButton:hover {
	opacity: 1;
	border: 1px solid #ffffff2f;
}

.AvailableHeroesButton.filter {
    wash-color: gray;
}

.AvailableHeroesIcon {
    width: 98px;
    height: 56px;
}


#HeroSlotsContainer {
    vertical-align: center;
    horizontal-align: center;
    flow-children: down;
    margin-top: 300px;
    visibility: collapse;
	width: fit-children;
}

#HeroSlotsPanel {
    flow-children: right;
    padding-top: 5px;
    visibility: collapse;
}

#HeroSlotsLabel {
    color: white;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    horizontal-align: center;
    visibility: collapse;
    text-shadow: 0px 0px 2px 4 #00000088;
}

.HeroSlot {
    width: 80px;
    height: 80px;
	background-image: url("s2r://panorama/images/backgrounds/gallery_background_png.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 100%;
    box-shadow: 0px 0px 10px #000000aa;
    border: 1px solid #ffffff09;
	flow-children: down;
    vertical-align: center;
    horizontal-align: center;
    margin-right: 10px;
}

.HeroSlot:hover {
	border: 1px solid #ffffff2f;
}

.HeroSlot.Locked:hover {
	border: 1px solid #ffffff2f;
}

.HeroSlot DOTAHeroImage {
    margin-top: 10px;
    vertical-align: center;
    horizontal-align: center;
}

#HeroSlotLabel {
    color: white;
    font-size: 16px;
    text-align: center;
    vertical-align: bottom;
    vertical-align: center;
    horizontal-align: center;
    width: fill-parent-flow(1.0);
    height: 16px;
    margin-top: 10px;
}

.HeroSlotImage {
    width: 18px;
    height: 18px;
    visibility: collapse;
    background-image: url("s2r://panorama/images/control_icons/lock_medium_png.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 100%;
    vertical-align: center;
    horizontal-align: center;
}

.HeroSlot.New #HeroSlotLabel {
    visibility: collapse;
}

.HeroSlot.Locked #HeroSlotLabel {
    visibility: collapse;
}

.HeroSlot.New .HeroSlotImage {
    visibility: visible;
    background-image: url("s2r://panorama/images/control_icons/plus_png.vtex");
}

.HeroSlot.Locked .HeroSlotImage {
    visibility: visible;
    background-image: url("s2r://panorama/images/control_icons/lock_medium_png.vtex");
}

#HeroSelectionScreen {
    width: 100%;
    height: 100%;
}

.WindowButton {
	background-image: url("s2r://panorama/images/backgrounds/gallery_background_png.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 100%;
	border: 1px solid #ffffff09;
	box-shadow: 0px 0px 6px #000000aa;
	border-radius: 0px;
}

.WindowButton:hover {
	opacity: 1;
	border: 1px solid #ffffff2f;
}

.ResetFilterButton {
    horizontal-align: center;
    vertical-align: center;
    margin: 0px;
}

.ResetFilterButton Label {
    text-transform: uppercase;
}