.InventoryContainer 
{
	width: fill-parent-flow(1.0);
	flow-children: down;
}

.InventoryRow 
{
	flow-children: right;
	width: fill-parent-flow(1.0);
	height: fit-children;
}

.InventorySlot, .InventoryEquippedSlot
{
	width: fill-parent-flow (1.0);
	height: 44px;
	background-image: url("s2r://panorama/images/backgrounds/gallery_background_png.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 100%;
	border: 1px solid #ffffff08;
}

.InventorySlot.first
{
	border-left: 0px none white;
}

.InventorySlot.last
{
	border-right: 0px none white;
}

.InventorySlot DOTAItemImage
{
	width: 100%;
	height: 100%;
}

.InventoryEquippedSlot 
{
	width: 77px;
	height: 57px;
	margin: 10px; /* change that in OnInventorySlotDragEnd (inventory.js) too (slotSpacingX/Y) */
	border: 1px solid #ffffff09;
	box-shadow: 0px 0px 6px #000000aa;
}

.InventoryEquippedSlot.Drag
{
	border: 1px solid #ffffff5f;
}

.InventoryEquippedSlot Label
{
	visibility: collapse;
}

.InventoryEquippedSlot.Alt Label
{
	visibility: visible;
	width: 100%;
	text-align: center;
	horizontal-align: center;
	vertical-align: bottom;
	background-color: black;
	text-transform: uppercase;
	text-overflow: shrink;
	height: fit-children;
	color: white;
	font-family: platformfont;
}

.InventoryEquippedSlot.empty #InventoryEquippedSlotImage0,
.InventoryEquippedSlot.empty #InventoryEquippedSlotImage1,
.InventoryEquippedSlot.empty #InventoryEquippedSlotImage2, 
.InventoryEquippedSlot.empty #InventoryEquippedSlotImage3,
.InventoryEquippedSlot.empty #InventoryEquippedSlotImage4,
.InventoryEquippedSlot.empty #InventoryEquippedSlotImage5,
.InventoryEquippedSlot.empty #InventoryEquippedSlotImage6,
.InventoryEquippedSlot.empty #InventoryEquippedSlotImage7,
.InventoryEquippedSlot.empty #InventoryEquippedSlotImage8,
.InventoryEquippedSlot.empty #InventoryEquippedSlotImage9,
.InventoryEquippedSlot.empty #InventoryEquippedSlotImage10,
.InventoryEquippedSlot.empty #InventoryEquippedSlotImage11
{
	brightness: 1;
	saturation: 0;
	wash-color: grey;
}

.RightItemSlots, .LeftItemSlots, .MiddleItemSlots 
{
	flow-children: down;
}

.LeftItemSlots 
{
	margin-left: 4px;
}

.RightItemSlots 
{
	horizontal-align: right;
	margin-right: 4px;
}

.MiddleItemSlots 
{
	horizontal-align: center;
	vertical-align: top;
	flow-children: down;
	margin: 0px;
	padding: 0px;
}

.MiddleItemSlots.FromBottom 
{
	vertical-align: bottom;
	flow-children: right;
	margin-bottom: 0px;
}

.LeftRings, .RightRings
{
	flow-children: down;
}

#ItemImage 
{
	height: 100%;
}

.WindowContent 
{
	flow-children: down;
	margin-top: 0px;
}

.HeroContainer 
{
	width: fill-parent-flow(1.0);
	height: 60%;
	flow-children: right;
}

.HeroItems 
{
	/* border: 1px solid grey; */
	width: fill-parent-flow(1.0);
	height: 100%;
}

.HeroStats 
{
	/* border: 1px solid grey; */
	width: fill-parent-flow(1.0);
	height: 100%;
	flow-children: down;
	padding: 5px;
}

.HeroStatsPage 
{
	flow-children: down;
	width: fill-parent-flow(1.0);
	overflow: squish scroll;
}

.InventoryAttributeWithValue 
{
	width: 100%;
	flow-children: right;
	padding-left: 25px;
}

.InventoryAttributeLabel 
{
	vertical-align: center;
	horizontal-align: left;
	margin-left: 10px;
	margin-bottom: 5px;
}

.InventoryAttributeValue 
{
	vertical-align: center;
	horizontal-align: right;
	padding-right: 25px;
}

.InventoryAttributeGrouplabel 
{
	margin-top: 10px;
	margin-left: 29px;
	margin-bottom: 10px;
	text-shadow: 0px 0px 2px 4 #00000088;
}

.HeroNameContainer 
{
	margin-top: 15px;
	flow-children: right;
	horizontal-align: center;
}

.HeroIcon 
{
	vertical-align: center;
	horizontal-align: center;
}

.HeroName 
{
	vertical-align: center;
	padding-left: 6px;
	padding-bottom: -4px;
}

.HeroName Label
{
    text-shadow: 0px 0px 2px 4 #00000088;
}

.BoxedAttributes 
{
	flow-children: right;
	horizontal-align: center;
	vertical-align: center;
	width: fill-parent-flow(1.0);
	padding-left: 20px;
	padding-right: 20px;
}

.BoxedAttribute {
	width: fill-parent-flow(1.0);
	height: fit-children;
	flow-children: down;
	horizontal-align: center;
	vertical-align: center;
}

.BoxedAttributeIcon 
{
	width: 40px;
	height: 40px;
	horizontal-align: center;
	vertical-align: center;
}

.BoxedAttribute #AttributeLabel {
	font-size: 12px;
	text-align: center;
	horizontal-align: center;
	vertical-align: center;
}

.BoxedAttributeLabel
{
	font-size: 12px;
	horizontal-align: center;
	text-shadow: 0px 0px 2px 4 #00000088;
}

.SwitchPageButtons {
	horizontal-align: center;
	flow-children: right;
	margin-bottom: 4px;
}

#HeroModelContainer
{
    width: 100%;
    height: 100%;
}

.HeroModel {
	width: 100%;
	height: 480px;
	margin-top: -20px;
	vertical-align: center;
	horizontal-align: center;
}

.StatIcon
{
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
    background-size: 100%;
	margin-right: 3px;
	visibility: collapse;
}

#StrengthIcon
{
	background-image: url("s2r://panorama/images/hud/pip_str_png.vtex");
    brightness: 1.3;
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
    background-size: 100%;
}

#AgilityIcon
{
	background-image: url("s2r://panorama/images/hud/pip_agi_png.vtex");
    brightness: 1.6;
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
    background-size: 100%;
}

#IntelligenceIcon
{
	background-image: url("s2r://panorama/images/hud/pip_int_png.vtex");
    brightness: 1.3;
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
    background-size: 100%;
}

.ItemBorder {
    width: fill-parent-flow(1.0);
    height: fill-parent-flow(1.0);
    border: 0px solid white;
    border-brush: gradient( linear, 0% 0%, 0% 100%, from( #fbfbfbff ), color-stop( 0.3, #ebebebff ), to( #c0c0c0c0 ) );
}

.InventorySlotDragged {
    border: 1px solid white;
    border-brush: gradient( linear, 0% 0%, 0% 100%, from( #fbfbfbff ), color-stop( 0.3, #ebebebff ), to( #c0c0c0c0 ) );
}