#ItemTooltip 
{
	width: 300px; 
	border: 1px solid gray;
	background-image: url("s2r://panorama/images/backgrounds/gallery_background_png.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 100%;
	border-radius: 4px;
	flow-children: down;
	transform-origin: 0% 0%;
}

.ItemTooltipImage 
{
	width: 77px;
	height: 57px;
	border-radius: 5px;
	background-image: url("s2r://panorama/images/backgrounds/gallery_background_png.vtex");
	border: 1px solid grey;
}

.ItemTooltipName 
{
	width: fill-parent-flow (1.0);
	height: 60px;
	font-size: 16px;
	margin: 5px;
	letter-spacing: 1px;
	color: white;
	font-weight: bold;
	font-family: platformfont;
	text-transform: uppercase;
}

.ItemTooltipDescription 
{
	margin: 5px;
	margin-top: -2px;
	padding-top: 0px;
	flow-children: down;
	height: fit-children;
}

.ItemTooltipNameLabel {
	text-transform: uppercase;
	horizontal-align: left;
	vertical-align: center;
}

.ItemTooltipInfoContainer
{
	width: fill-parent-flow(1.0);
	flow-children: right;
}

.ItemTooltipStatsContainer
{
	width: fill-parent-flow(1.0);
	flow-children: down;
	margin-top: 5px;
}

.ItemTooltipStatsContainer Label
{
	width: fill-parent-flow(1.0);
	text-align: left;
	vertical-align: center;
	horizontal-align: left;
	overflow: clip squish;
	height: 20px;
	color: white;
	font-size: 15px;
	font-family: platformfont;
	margin-bottom: 2px;
}

.ItemTooltipRarityLabel
{
	width: fill-parent-flow(1.0);
	overflow: clip squish;
	height: 20px;
	color: grey;
	font-size: 16px;
	font-family: platformfont;
	vertical-align: center;
	horizontal-align: left;
	text-align: left;
	margin-top: 1px;
}

.ItemTooltipTypeLabel 
{
	width: fill-parent-flow(1.0);
	color: grey;
	font-size: 16px;
	font-family: platformfont;
	vertical-align: center;
	horizontal-align: right;
	text-align: right;
	margin-right: 2px;
}

.ItemTooltipLabel 
{
	width: fill-parent-flow(1.0);
	color: white;
	font-size: 14px;
	font-family: platformfont;
	horizontal-align: center;
	vertical-align: center;
	margin-top: 5px;
}

.ItemTooltipQualityLabel
{
	width: fill-parent-flow(1.0);
	color: white;
	font-size: 16px;
	font-family: platformfont;
	horizontal-align: center;
	vertical-align: center;
	text-align: left;
}

.ItemTooltipHeader 
{
	flow-children: right;
	width: 100%;
	padding: 5px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}