#Contents.AbilityContents
{
	width: 360px;
	background-image: url("s2r://panorama/images/backgrounds/gallery_background_png.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 100%;
	border: 1px solid gray;
	border-radius: 5px;
}

.IsItem #Contents
{
	background-image: url("s2r://panorama/images/hud/reborn/bg_tooltip_psd.vtex");
	background-repeat: no-repeat;
    padding: 8px;
    background-position: left top;
    border: 2px solid black;
    visibility: collapse;
}

#Contents
{
    padding: 8px;
    border: 2px solid black;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #1c2024fd ), to( #000000fd ) );
}

Label.TitleFont, TextEntry.TitleFont
{
	font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-shadow: 2px 2px 0px 1.0 #000000;
}