#CooldownOverlay
{
	height: 100%;
	width: 100%;
	background-color: #000000DD;
}

#CooldownTimer
{
	color: white;
    font-size: 24px;
	text-shadow: 0px 0px 6px 6 #000000;
    horizontal-align: center;
    vertical-align: center;
}

#Cooldown
{
	width: 100%;
	height: 100%;
	visibility: collapse;
}

.in_cooldown #Cooldown
{
	visibility: visible;
}

#ManaCost
{
	color: #c0e8fb;
    font-size: 14px;
    font-weight: bold;
	text-shadow: 0px 0px 6px 8 #245191;
	margin-bottom: 13px;
	vertical-align: bottom;
	horizontal-align: right;
}

.no_mana_cost #ManaCost
{
	visibility: collapse;
}

#ActiveAbility
{
	width: 100%;
	height: 100%;
	background-color: gradient( radial, 50% -20%, 0% 0%, 80% 80%, from( #FFFFFF ), to( #FFFFFF00 ) );
	border: 4px solid #FFFFFF40;
	opacity: 0;
}

.is_active #ActiveAbility
{
	opacity: 1;
}

#Hotkey
{
	margin-left: -4px;
	vertical-align: top;
	horizontal-align: left;
	min-width: 18px;
	min-height: 18px;
	border-radius: 5px;
	background-image: url("s2r://panorama/images/backgrounds/gallery_background_png.vtex");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border: 1px solid #ffffff05;
	box-shadow: fill black 1px 1px 2px 2px;
}

#HotkeyText
{
	color: #bba995;
 	text-shadow: 1px 1px 2px 2 #000000;
    font-size: 14px;
    font-weight: bold;
	vertical-align: center;
	horizontal-align: center;
	text-align: center;
	width: 100%;
}
.no_item #Hotkey,
.is_passive #Hotkey,
.no_hotkey #Hotkey
{
	visibility: collapse;
}

.is_passive.learnable_ability #Hotkey {
	visibility: visible;
}
