.Root {
	width: 100%;
	height: 100%;
}

.HPMPBars {
	flow-children: down;
	width: 100%;
	vertical-align: bottom;
	horizontal-align: center;
	padding-left: 2px;
	padding-right: 2px;
}

.HeroHpBarPanel {
	width: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #434343 ), to( #000000 ) );
	border-radius: 4px;
}

.HeroHpBar
{
	width: 100%;
	height: 100%;
	border-radius: 4px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #74D680 ), to( #378B29 ) );
}

.HeroMpBar
{
	width: 100%;
	height: 100%;
	border-radius: 4px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #009FFD ), to( #2A2A72 ) );
}

.HeroHpMpBarValue
{
	color: white;
	font-size: 14px;
	vertical-align: center;
	horizontal-align: center;
	font-family: platformfont;
}

.HeroMpBarPanel {
	width: 100%;
	border-radius: 4px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #434343 ), to( #000000 ) );
}

.HeroHpMpBarRegValue {
	color: white;
	font-size: 14px;
	vertical-align: center;
	horizontal-align: right;
	margin-right: 4px;
	font-family: platformfont;
}

.HeroExpBarPanel {
	width: 100%;
	border: 1px solid grey;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #434343 ), to( #000000 ) );
	border-radius: 4px;
	margin-top: -3px;
}

.HeroExpBar
{
	width: 100%;
	height: 100%;
	border-radius: 4px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #2F1C53 ), to( #A46DFF ) );
}

.HeroHpBarPanel, .HeroMpBarPanel, .HeroExpBarPanel {
	height: 30px;
}

#ManaBurner,
#HealthBurner,
#ExpBurner
{
	width: 100%;
	height: 100%;
}

#ManaBurner
{
	hue-rotation: 100deg;
}

#ExpBurner
{
	hue-rotation: 160deg;
}

.HeroPortraitContainer {
	width: 200px;
	horizontal-align: center;
	vertical-align: bottom;
}

.HeroPortrait {
    width: 140px;
	height: fill-parent-flow(1.0);
	background-image: url("s2r://panorama/images/backgrounds/gallery_background_png.vtex");
	background-repeat: no-repeat;
	background-size: 100% 100%;
    border-top-left-radius: 15px;
	horizontal-align: right;
}

.HeroPortrait.is_dead {
	blur: gaussian( 1 );
	brightness: 1;
	saturation: 0;
	wash-color: grey;
}

.HeroDeathTimer {
	width: fill-parent-flow(1.0);
	height: fill-parent-flow(1.0);
	vertical-align: bottom;
	horizontal-align: center;
	margin-left: 60px;
}

.HeroDeathTimer #HeroDeathTimer {
	horizontal-align: center;
	vertical-align: center;
	font-size: 50px;
	color: white;
	font-family: platformfont;
	visibility: collapse;
	text-align: center;
}

.HeroNamePanel {
	width: 140px;
	height: 30px;
	border: 1px solid grey;
	border-radius: 5px;
	horizontal-align: center;
	vertical-align: bottom;
	background-image: url("s2r://panorama/images/backgrounds/gallery_background_png.vtex");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.HeroNameValue {
	color: white;
	font-size: 18px;
	vertical-align: center;
	horizontal-align: center;
	text-align: center;
	font-family: platformfont;
	padding: 2px;
	white-space: normal;
	text-overflow: shrink;
}

.AbilityOverlayRoot
{
    width: fit-children;
    height: fill-parent-flow(1.0);
	flow-children: down;
	z-index: 1;
	margin-top: 25px;
}

.AbilityLevelUpPanel {
	width: fit-children;
	height: 75px;
	margin-left: 10px;
	margin-bottom: -8px;
}

.AbilityLevelUpPanelFiller {
	width: fit-children;
	height: 75px;
	margin-bottom: -8px;
}

.LevelUpBurstFX {
	width: 65px; 
	height: 150px;
	vertical-align: bottom;
	margin-bottom: 35px;
}

.LevelUpTab {
	width: 100%; 
	vertical-align: bottom;
}

.LevelUpButton {
	height: 35px;
}

.LevelUpIcon {
	width: 32px;
	height: 32px;
	vertical-align: center; 
	horizontal-align: center;
}

#AbilityLevelUpButton
{
	margin-left: 53px;
	vertical-align: top;
	horizontal-align: left;
	min-width: 18px;
	min-height: 18px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #393939 ), to( #414849 ) );
	border: 1px solid #ffffff05;
	box-shadow: fill black 1px 1px 2px 2px;
	border-radius: 5px;
}

#AbilityLevelUpButtonText
{
	color: #bba995;
 	text-shadow: 1px 1px 2px 2 #000000;
    font-size: 17px;
    font-weight: bold;
	vertical-align: center;
	text-align: center;
	width: 100%;
	margin: -2px;
}

#ability_list
{
	flow-children: right;
}

.AbilityPanel
{
	margin-left: 8px;
	margin-right: 8px;
	margin-top: 4px;
	margin-bottom: 4px;
}

.AbilityPanel.no_ability
{
	visibility: collapse;
}

#LevelUpButton
{
    background-color: #c4a529;
	width: 64px;
	height: 48px;
	visibility: collapse;
}

.could_level_up #LevelUpButton
{
	visibility: visible;
}

#LevelUpButton:hover
{
    background-color: #9e8b2c;
}

#LevelUpButtonInset
{
	width: 100%;
	height: 100%;
	border: 2px solid black;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #ffffff ), color-stop( 0.1, #c4a529 ), color-stop( 0.75, #9e8b2c ), color-stop( 0.9, #c4a529 ), to( #ffffff ) );
}

#LevelUpButton:hover #LevelUpButtonInset
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #ffffff ), color-stop( 0.2, #c4a529 ), color-stop( 0.75, #9e8b2c ), color-stop( 0.8, #c4a529 ), to( #ffffff ) );
}

#LevelUpButton Label
{
	text-transform: uppercase;
	text-shadow: 0px 1px 3px 2.5 #000000;
	color: white;
	vertical-align: center;
	horizontal-align: center;
}

#ButtonAndLevel
{
	flow-children: down;
}

#AbilityButton
{
	width: 63px;
	height: 64px;
	border: 1px solid grey;
	border-radius: 6px; 
}

.is_passive #AbilityButton
{
}

#UpgradeBorder
{
	background-color: transparent;
}

.learnable_ability #UpgradeBorder
{
   background-color: gradient( linear, 0% 0%, 0% 100%, from( #ffffff ), color-stop( 0.1, #c4a529 ), color-stop( 0.75, #9e8b2c ), color-stop( 0.9, #c4a529 ), to( #ffffff ) );
   border-radius: 6px;
}

#AbilityButton:hover
{
	border: 2px solid white;
}

#AbilityButton:active
{
	border: 4px solid white;
}
.no_level DOTAAbilityImage
{
	saturation: 0;
	wash-color: #303030;
}

.insufficient_mana DOTAAbilityImage
{
	saturation: 0;
	wash-color: #1569be;
}

.potential_upgrade.no_level DOTAAbilityImage
{
	saturation: 1;
	wash-color: white;
}

#AbilityStatusBorder
{
	border: 2px solid transparent;
}

#AutoCastBorder
{
	width: 100%;
	height: 100%;
	visibility: collapse;
}

.auto_cast_enabled #AutoCastBorder
{
    visibility: visible;
}

.toggle_enabled #AbilityStatusBorder
{
	border: 2px solid gold;
	border-radius: 7px;
}

#AbilityLevelContainer
{
	flow-children: right-wrap;
	height: 16px;
	width: 60px;
	margin-left: 5px;
}

.LevelPanel
{
	width: 12px;
	height: 12px;
	margin-left: 1px;
	margin-right: 1px;
	border-radius: 3px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2e2716 ), to( #020302 ) );
	border: 2px solid #ffffff05;
}

.active_level.LevelPanel
{
	background-color: #ceaa31;
	border: 2px solid #734918;
	
}

#LevelUpButton
{
	background-image: url("s2r://panorama/images/hud/reborn/levelup_button_psd.vtex");
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	
	transition-property: opacity, brightness, pre-transform-scale2d;
	transition-timing-function: ease-in-out;
	transition-duration: .12s;	
	height: 40px;	
}

#LevelUpIcon
{
	background-image: url("s2r://panorama/images/hud/reborn/levelup_plus_well_psd.vtex");
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	transition-property: background-image;
	transition-duration: .12s;
	width: 24px;
	height: 24px;
	horizontal-align: center;
	vertical-align: center;
}

#HeroStats {
	width: fit-children;
	height: fill-parent-flow(1.0);
	vertical-align: bottom;
	horizontal-align: right;
	flow-children: down;
	padding-right: 0px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #00000000 ),  color-stop( .75, #00000000 ), to( #00000055 ) );
	border-right: 1px solid #ffffff04;
	padding-top: 5px;
	margin-left: 60px;
	max-width: 100%;
}

.HeroLevelContainer {
	margin-left: 40px;
	width: 44px;
	height: 44px;
	border-radius: 100%;
    vertical-align: bottom;
	background-image: url("s2r://panorama/images/backgrounds/gallery_background_png.vtex");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.HeroExpBarAltValue {
    visibility: collapse;
    font-size: 16px;
    color: white;
	background-image: url("s2r://panorama/images/backgrounds/gallery_background_png.vtex");
	background-repeat: no-repeat;
	background-size: 100% 100%;
    vertical-align: bottom;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid grey;
}

.HeroLevelExpBackground {
	background-color: #A46DFF;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	vertical-align: center;
	horizontal-align: center;
}

.HeroLeveLevelBackground {
	//background-image: url("s2r://panorama/images/backgrounds/gallery_background_png.vtex");
	//background-repeat: no-repeat;
	//background-size: 100% 100%;
	background-color: black;
	width: 36px;
	height: 36px;
	border-radius: 100%;
	vertical-align: center;
	horizontal-align: center;
}

.HeroLeveLevelBackground Label {
    font-size: 17px;
    vertical-align: center;
    horizontal-align: center;
    text-align: center;
    color: white;
}

.AttrIconContainer
{
	horizontal-align: right;
    flow-children: right;
}

.StatIcon
{
	width: 18px;
	height: 18px;
}

.StatIcon.Attribute
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #00000000 ),  color-stop( .75, #00000000 ), to( #00000055 ) );
}

.StatLabel
{
	text-overflow: shrink;
	vertical-align: center;
	horizontal-align: center;
    font-size: 16px;
    font-weight: thin;
	letter-spacing: 0px;
    color: #ccc;
    text-shadow: 0px 0px 4px 4 #00000088;
    text-align: right;
    padding-right: 2px;
    padding-bottom: 2px;
}

.ActionPanelContainer {
    flow-children: down;
    horizontal-align: center;
    vertical-align: bottom;
}

#ModifierListContainer {
    width: 100%;
    height: fit-children;
    margin-left: 60px;
    flow-children: up;
}

.HeroPanelContainer
{
    width: fit-children;
    max-width: 800px;
    height: 160px;
    flow-children: right;
}

.HeroPanelContainer.Abilities {
    vertical-align: bottom;
    horizontal-align: center;
    z-index: 20;
    height: 250px;
}

.HeroPanelLeftContainer {
    width: 200px;
    height: fill-parent-flow(1.0);
}

.HeroPanelRightContainer {
    width: fit-children;
    height: fill-parent-flow(1.0);
	background-image: url("s2r://panorama/images/backgrounds/gallery_background_png.vtex");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-top-right-radius: 15px;
}

.HeroPanelRightContainer.Abilities {
	background-image: none;
}

.TooltipElementLabelContainer {
    flow-children: down;
    width: fit-children;
    height: fit-children;
    margin-right: 5px;
}

.TooltipElementLabelContainer.first {
    margin-left: 5px;
}

.TooltipElementLabelContainer Image {
    width: 32px;
    height: 32px;
}

.TooltipElementLabelContainer Label {
    width: fit-children;
    text-align: center;
    vertical-align: center;
    horizontal-align: center;
}

#HeroStatsTooltip {
    width: fit-children;
    height: fit-children;
    padding: 5px;
    horizontal-align: center;
    vertical-align: bottom;
    flow-children: down;
	background-image: url("s2r://panorama/images/backgrounds/gallery_background_png.vtex");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-radius: 15px;
	margin-bottom: 180px;
    z-index: 20;
    margin-left: -130px;
}

.HeroStatsElementsContainer {
    flow-children: right;
    margin-bottom: 5px;
    vertical-align: bottom;
}

.HeroStatsContainer {
    width: fit-children;
    height: fit-children;
    flow-children: right;
}

.HeroMainStatsContainer {
    width: fit-children;
    height: fit-children;
    flow-children: down;
    margin-top: 10px;
}

.HeroMainStatsIcon {
    width: 40px;
    height: 40px;
    horizontal-align: center;
    vertical-align: center;
    margin-right: 5px;
    margin-left: 20px;
}

.HeroMainStatsMainContainer {
    flow-children: right;
    margin-bottom: 20px;
}

.HeroMainStatsMainContainer.last {
    flow-children: right;
    margin-bottom: 10px;
}

.HeroMainStatsMainContainer .HeroMainStatsMainLabelsContainer Label.HeroMainStatsPrimaryLabel {
    visibility: collapse;
}

.HeroMainStatsMainContainer.primary .HeroMainStatsMainLabelsContainer Label.HeroMainStatsPrimaryLabel {
    visibility: visible;
}

.HeroMainStatsMainLabelsContainer {
    flow-children: down;
}

.HeroMainStatsMainLabelsContainer Label {
    color: white;
}

.HeroStatsCategoryName {
    color: white;
    text-align: center;
    horizontal-align: center;
}

.OffensiveStats {
    width: fit-children;
    height: fit-children;
    flow-children: down;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    padding-right: 5px;
}

.DefensiveStats {
    width: fit-children;
    height: 100%;
    flow-children: down;
    border-bottom: 1px solid gray;
    padding-left: 5px;
}

.HeroStatsLabelsContainer {
    width: 100%;
    height: fit-children;
    flow-children: down;
    margin-bottom: 5px;
}

.HeroStatsLabel {
    width: 100%;
    height: fit-children;
    flow-children: right;
    margin-top: 2px;
    margin-bottom: 2px;
}

.HeroStatsLabel .Title {
    horizontal-align: left;
    margin-left: 5px;
    color: white;
    text-overflow: shrink;
}

.HeroStatsLabel .Value {
    horizontal-align: right;
    margin-right: 5px;
    color: white;
    text-overflow: shrink;
    height: 100%;
}