@define defaultFont: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;

.CustomChatLineContainer {
    width: 750px;
    max-width: 750px;
    height: fit-children;
    flow-children: right;
    transition-property: opacity!immediate;
    transition-duration: 0.1s;
}

DOTAChat#HudChat.Active .CustomChatLineContainer {
    opacity: 1;
}

DOTAChat#HudChat .CustomChatLineContainer {
    opacity: 0;
}

DOTAChat#HudChat .CustomChatLineContainer.NotReallyExpired {
    opacity: 1;
}

.CustomHeroBadge {
    width: 32px;
    height: 32px;
    margin-top: -7px;
}

.CustomHeroIcon {
    width: 40px;
    height: 23px;
    margin-top: 0px;
    margin-bottom: -6px;
    margin-left: 5px;
    transform: translateY(2px);
    border: 1px solid black;
}

#TeamName {
    font-size: 18px;
    font-weight: bold;
    text-shadow: 1px 1.5px 0px 2 #000000;
    vertical-align: center;
	font-family: defaultFont;
    color: #ebdcbd;
    margin-left: 4px;
}

#ChatLabel {
    font-size: 18px;
    font-weight: bold;
    text-shadow: 1px 1.5px 0px 2 #000000;
    vertical-align: center;
	font-family: defaultFont;
    color: #ebdcbd;
}

#PlayerName {
    vertical-align: center;
}

#PlayerName Label {
    font-size: 18px;
    font-weight: bold;
    text-shadow: 1px 1.5px 0px 2 #000000;
	font-family: defaultFont;
    margin-left: 4px;
}
