.RootPanel {
	height: fill-parent-flow(1.0);
	width: 400px;
	horizontal-align: left;
}

#PartyContainer {
    width: fill-parent-flow(1.0);
    height: fit-children;
	flow-children: down;
	horizontal-align: left;
	vertical-align: center;
	margin-top: -15%;
}

.RootMemberPanel {
	width: 300px;
	height: 74px;
	margin-bottom: 20px;
}

.HeroPortraitContainer {
    width: 74px;
    height: 74px;
    z-index: 99;
}

.HeroStatsContainer {
    flow-children: down;
	width: fill-parent-flow(1.0);
	height: fill-parent-flow(1.0);
	margin-left: -5px;
}

.HeroPortrait {
	width: fill-parent-flow(1.0);
	height: fill-parent-flow(1.0);
	border-radius: 5px;
	border: 0.7px solid gray;
}

.HeroOwnerName {
	horizontal-align: center;
	text-align: center;
	width: fill-parent-flow(1.0);
	font-family: platformfont;
	font-size: 16px;
	text-overflow: shrink;
	text-shadow: 0px 0px 2px 4 #00000088;
}

.HeroPortrait.is_dead {
	blur: gaussian( 1 );
	opacity: 0.5;
	brightness: 1;
	saturation: 0;
	wash-color: grey;
}

#HeroPortraitPanel {
	width: fit-children;
	height: fit-children;
	flow-children: right;
}

.HeroHpBarPanel {
	width: fill-parent-flow(1.0);
	height: fill-parent-flow(1.0);
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #434343 ), to( #000000 ) );
	border-radius: 3px;
	border-bottom: 0px;
	border-right: 0px;
	vertical-align: bottom;
	z-index: 88;
}

.HeroDeathTimer {
	width: fill-parent-flow(1.0);
	height: fill-parent-flow(1.0);
}

.HeroDeathTimer #HeroDeathTimer {
	horizontal-align: center;
	vertical-align: center;
	font-size: 30px;
	color: white;
	font-family: platformfont;
	visibility: collapse;
}

.HeroHpBar
{
	width: 100%;
	height: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #74D680 ), to( #378B29 ) );
}

.HeroMpBarPanel {
	width: fill-parent-flow(1.0);
	height: fill-parent-flow(1.0);
	border-radius: 3px;
	border-top-right-radius: 0px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #434343 ), to( #000000 ) );
}

.HeroMpBar
{
	width: fill-parent-flow(1.0);
	height: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #009FFD ), to( #2A2A72 ) );
}

.HeroHpMpBarValue
{
	color: white;
	font-size: 14px;
	vertical-align: center;
	horizontal-align: center;
	font-family: platformfont;
}

.HeroHpMpBarRegValue {
	color: white;
	font-size: 14px;
	vertical-align: center;
	horizontal-align: right;
	margin-right: 4px;
	font-family: platformfont;
}

.HeroExpBarPanel {
	width: 100%;
	height: 24px;
	border: 1px solid grey;
	margin-left: 78px;
	margin-top: 60px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #434343 ), to( #000000 ) );
	border-radius: 8px;
}

.HeroExpBar
{
	width: 100%;
	height: 100%;
	border-radius: 8px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #2F1C53 ), to( #A46DFF ) );
}

#ManaBurner,
#HealthBurner,
#ExpBurner
{
	width: 100%;
	height: 100%;
}

#ManaBurner
{
	hue-rotation: 100deg;
}

#ExpBurner
{
	hue-rotation: 160deg;
}

.LevelBar {
	width: 60px;
	border: 2px solid grey;
	border-radius: 25px;
	margin-top: 75px;
	margin-left: 18px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #434343 ), to( #000000 ) );
}

.LevelBarValue {
	color: white;
	font-size: 17px;
	vertical-align: center;
	horizontal-align: center;
	font-family: platformfont;
	padding: 2px;
	font-weight: bold;
}

.ButtonBackground {
	width: 25px;
	height: 25px;
	border: 1px solid grey;
	border-radius: 2px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #434343 ), to( #000000 ) );
	margin-left: 10px;
}

.ButtonImage:hover {
	opacity: 0.5;
}

.ResizeButton {
    visibility: collapse;
}

.ResizeButtonImage {
	wash-color: grey;
	visibility: visible;
}

@define HeroTransitionDuration: 0.46s;

.OverviewHeroRender
{
	opacity: 0.01; /* hack to make sure that Paint is called which will actually cause it to load */
	pre-transform-scale2d: 1.0;
	/*transition-property: opacity, width, height, transform, pre-transform-scale2d, opacity-mask ;
	transition-duration: 0.10s, 1s, 0.6s;
	transition-timing-function: cubic-bezier( 0.785, 0.385, 0.555, 1.505 ); */
}

.OverviewHeroRender.SceneLoaded
{
	opacity: 1;
	pre-transform-scale2d: 1;
	/*transition-duration: 0.10s, 0.3s, HeroTransitionDuration, HeroTransitionDuration, HeroTransitionDuration, HeroTransitionDuration, 0.2s; */
}